* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  max-width: 1800px;
}

header {
  width: 100%;
  padding-top: 2%;
}

.left {
  width: 23.404%;
  float: left;
  margin-right: 2.128%;
}
.center {
  width: 48.936%;
  float: left;
  /*  margin-right: 2.128%;*/
}

.right {
  width: 23.404%;
  float: right;
  margin-left: 2.128%;
}
#tickets {
  padding-top: 5%;
}

/*
.third {
    width: 30.851064%;
    
    
   
}
.third:nth-child(1){
     margin-right: 3.723404%;
    float: left;
   
}
.third:nth-child(2){
     margin-right: 3.723404%;
     
    float:left;
   
}
.third:nth-child(3){
    float: right;
}
*/

#logo {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: auto;
  text-transform: uppercase;

  top: 0;
  z-index: 10;
  text-align: center;
  position: fix;
}
nav ul {
}

nav li {
  list-style: none;
  width: 5.141844%%;
  position: relative;
  height: 50px;
  line-height: 50px;
  margin: auto;
  display: inline;
}

nav li a {
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 3%;
}
nav li a:hover {
  text-decoration: underline;
}

main {
  clear: both;
  max-width: 100%;
  padding: 10%;
}
main a {
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: block;
  color: black;
}
main p {
  text-align: center;
}
section {
  clear: both;
  max-width: 90%;
  padding: 3%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
section a {
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: block;
  color: black;
}
section p {
  text-align: center;
}

aside {
  overflow: hidden;
  height: auto;
  display: block;
  padding-top: 1%;

  /*
padding-left: 10%;
padding-right: 10%;

*/
}
#aside1 {
  width: 1%;
}
.asidetext {
  /*  padding-left: 40%;
*/
}
.aside h1 {
  /*
float: right;
clear: both;

*/
}
.aside p {
  /* float: right;
*/
}
.asidetext2 {
  /*  padding-right: 40%;
*/
}
.aside2 h1 {
  /*
  float: left;
  clear: both;
*/
}
.aside2 p {
  /*  float: left;
*/
}
article {
  max-width: 100%;
  overflow: hidden;
  height: auto;
  display: block;
}

#videos {
  display: block;
  max-width: 100%;
  align-content: center;

  text-align: center;

  clear: both;
  padding-top: 3%;
}

.listleft {
  float: left;
  width: 40%;
}
.listright {
  float: right;
  width: 40%;
  text-align: right;
}

#full {
  width: 80%;
  background: url("../images/resume.png");
  display: block;
  height: 1056px;
  width: 816px;
  margin: auto;
}
.thumb {
  float: left;
}
.thumb img {
  width: 700px;
  padding: 5%;
  height: auto;
}

.thumb2 {
  float: right;
}
.thumb2 img {
  width: 300px;
  padding: 5%;
  height: auto;
}

.banner {
  clear: both;
  max-width: 100%;
}

.slides {
  width: auto;
}
#paper {
  background: url("../images/sf.jpg");
  display: block;
  height: 359px;
  width: 480px;
}

footer {
  clear: both;
  border-top-style: solid;
}
footer p {
  text-align: center;
}
footer a {
  text-decoration: none;
}
object {
  width: auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0c2b5e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.form-group {
  text-align: center;
  padding-top: 1%;
}
#contact {
  /*    text-align: center;*/
  /*  border-style: solid;
*/
}

/*++++++++++++++++++++++Typography++++++++++++++++++++++++++*/

h1 {
  text-align: center;
  padding-bottom: 2%;
}
h2 {
  text-align: center;
}
h4 {
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
}
h5 {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 2%;
  text-transform: uppercase;
}

p {
  line-height: 1.6;
}
